@using HomeBlaze.Abstractions
@using HomeBlaze.Abstractions.Attributes
@using HomeBlaze.Abstractions.Presentation
@using HomeBlaze.Components
@using HomeBlaze.Components.Inputs
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.Extensions.Logging
@using MudBlazor
@using System.Threading
@using HomeBlaze.Abstractions.Services
@using System.Diagnostics.CodeAnalysis;

@attribute [ThingSetup(typeof(VehicleChargerWidget))]
@inherits ThingSetupComponent<VehicleChargerWidget>

<MudForm @ref="Form">
    <MudTextField Label="Title" @bind-Value="@Thing!.Title" />
    <br />
    <ThingSelect Label="Vehicle Charger" Required="true" @bind-ThingId="Thing.VehicleChargerId" />

    <br />
    <h2>Display</h2>
    <div class="d-flex gap-4">
        <MudTextField Label="Scale" @bind-Value="@Thing.Scale" />
    </div>
</MudForm>
