################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/HomeBlaze/Config/Root.json
/src/Namotion.NuGetPlugins.Tests/Sample/netstandard2.0/Namotion.NuGetPlugins.Sample.deps.json
