@using System.Threading
@using System.Net.Http
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.Extensions.Logging

@using MudBlazor

@using HomeBlaze.Abstractions
@using HomeBlaze.Abstractions.Attributes
@using HomeBlaze.Abstractions.Presentation
@using HomeBlaze.Components
@using HomeBlaze.Abstractions.Services

@attribute [ThingSetup(typeof(RtspWebcam), CanEdit = true)]
@inherits ThingSetupComponent<RtspWebcam>

<MudForm @ref="Form">
    <MudTextField @bind-Value="@Thing.InternalTitle" Label="Title" Required="true" />
    <MudTextField @bind-Value="@Thing.ServerUrl" Label="Server URL" Required="true" />

    <MudTextField @bind-Value="@Thing.UserName" Label="Username" />
    <MudTextField @bind-Value="@Thing.Password" Label="Password" InputType="InputType.Password" />

    <p>
        <br />
        <strong>Sample URLs:</strong><br />
        Tapo Webcams:<br />
        rtsp://192.168.1.123:554/stream1<br />
        rtsp://192.168.1.123:554/stream2
    </p>
</MudForm>
