@using HomeBlaze.Components;
@using HomeBlaze.Dynamic
@using MudBlazor

@inherits ThingSetupComponent<ButtonWidget>

<MudForm @bind-IsValid="_isFormValid">
    <MudTextField @bind-Value="@Thing.Label" Label="Title" />

    <MudTextField @bind-Value="@Thing.Width" Label="Width" />
    <MudTextField @bind-Value="@Thing.Height" Label="Height" />

    <br />
    <h2>Operation</h2>
    <OperationEditor Operation="@Thing.Operation" />
</MudForm>

@code {
    private bool _isFormValid;

    public override bool IsValid => _isFormValid;
}
